/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers if needed */
body { font-family: 'Poppins', sans-serif; }
body {
  background-color: #050B1A;
  color: white;
  font-family: 'Poppins', sans-serif;
}
