# ------------------------------
# Core Web Server
# ------------------------------
Flask==3.0.3
Flask-Cors==4.0.0

# ------------------------------
# Deep Learning + CUDA
# ------------------------------
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1

# ------------------------------
# Computer Vision
# ------------------------------
opencv-python==4.12.0.88
Pillow==11.3.0
facenet-pytorch==2.5.2

# ------------------------------
# Augmentation
# ------------------------------
albumentations==1.4.3
scikit-image==0.24.0
imageio==2.36.0

# ------------------------------
# Utility
# ------------------------------
numpy==2.2.6
tqdm==4.66.4

# ------------------------------
# Model Encoder dependency
# ------------------------------
efficientnet-pytorch==0.7.1

# ------------------------------
# Other helpful libs (optional)
# ------------------------------
requests==2.32.3
typing-extensions==4.12.2
